body {
    font-size: 10pt;
}

th.rotate {
  	height: 140px;
  	white-space: nowrap;
}

th.rotate > div {
  	transform: 
    translate(-105px, -35px)
    rotate(45deg);
  	width: 30px;
}
th.rotate > div > span {
  	border-bottom: 1px solid #ccc;
  	padding: 0px 0px;
}

th.firstcol {
	width: 200px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
  	white-space: nowrap;
  	padding: 0px 20px;
}

td.up {
	background-color: #7c7;
}

td.medium {
    background-color: #cc2;
}

td.down {
	background-color: #c77;
}

td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
        text-align: center;
        font-size: 10pt;
}

table {
	border-collapse: collapse;
	overflow: scroll;
}

div.tableheader {
	width: 200px;
}

div.host {
	float: right;
}

div.room {
	float: left;
}

tr.avd_skille {
    border-top: 2px solid #000;
}
