{% block body %}
    <form action="{{ url_for('add_host') }}" method=post>
        <dl>
            <dt>Hostname:
            <dd><input type=text size=30 name=hostname>
            <dt>Roomname:
            <dd><input type=text size=30 name=roomname>
            <dd><input type=submit value=Add>
        </dl>
    </form>

{% endblock %}
