{% extends "layout.html" %}
{% block body %}

<div>
<table>
	<tr>
		<th></th>
    	{% for time in times %}
        <th class='rotate'><div><span> {{ time.time|goodtimes }}</span></div> </th> 
        {% else %}        
		<th></th>
    	{% endfor %}
    </tr>
    {% set prev = None %}
    {% for host in hosts %}
    {% if prev != none %}
    {% if prev.roomname|avd  != host.roomname|avd %}
        <tr class='avd_skille'>
    {% else %}
    {% endif %}
        <tr>
    {% endif %}
		<th class='firstcol'>
			<div class='tableheader'> 
			<div class='room'>{{host.roomname}}</div> 
			<div class='host'>{{host.hostname}}</div> 
			</div>
		</th>
    	{% for time in times %}
    		{% set res = results.get(host.id) %}
    	{% if res != None %}
    		{% set res = res.get(time.id) %}
    	{% endif %}
        <td title="{{ host.roomname }} | {{host.hostname }} | {{time.time|goodtimes}}"
            {% if res == 3 %} 
            class='down'> {{ res }}
            {% elif res == 0 %}
            class='up'> 
            {% elif res == None %}
            >
            {% else %}
            class='medium'> {{ res }}
            {% endif %}</td> 
    {% else %}        
		<td></td>
   	{% endfor %}
    </tr>
    {% set prev = host %}
    {% endfor %}

</table>   
</div>
{% endblock %}
